<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
    {{ partial "head.html" . }}

    <body>
        <h1>{{ .Title }}</h1>
        <nav>
            {{ range (where .Site.RegularPages "Type" "page") -}}
                <a href ="{{ .RelPermalink }}">{{ .File.BaseFileName }}</a>
            {{- end -}}
            <a href="/publickey.asc">pgp</a><a href="/index.xml">rss</a>
        </nav>
        <main>
            <ul>
                {{ range (where .Site.RegularPages "Type" "blog") }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <span class="date">{{ .Date.Format "2006-01-02" }}</span>
                        {{ with .Description }}<p>{{ . }}</p>{{ end }}
                    </li>
                {{ end }}
            </ul>
        </main>

        {{ partialCached "footer.html" . }}
    </body>
</html>
